Source: cedar
Section: devel
Priority: optional
Maintainer: Heroku Runtime <runtime@heroku.com>
Uploaders: Fabio Kung <fabio.kung@gmail.com>, Noah Zoschke <nzoschke@gmail.com>, Phil Hagelberg <phil@hagelb.org>
Build-Depends: debhelper (>= 7.0.0), build-essential, make (>= 3.81), curl (>= 7.0.0), sudo
Standards-Version: 3.9.3
Homepage: https://devcenter.heroku.com/articles/stack

Package: cedar
Architecture: amd64
Depends: ${misc:Depends}, dpkg (>= 1.16)
Description: Heroku Cedar 64 bits Stack Image.
 Base image that powers dyno execution environments (64 bits - amd64).
